* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(94, 216, 83);
}

.character {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    height: 20vh;
    margin: auto;
    margin-top: 5vh;
    background-color: rgb(224, 176, 20);
    border-radius: 5px;
    font-size: 1.3rem;
}

.character-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 1.3rem;
    color: white;
}

#character-set-1 {
    display: flex;
    gap: 5px;
}
#character-set-2 {
    display: flex;
    gap: 5px;
}

#set-line {
    width: 50px;
    margin-left: 150px;
    color: rgb(224, 176, 20);
    border-radius: 5px;
    height: 20px;
    width: 60px;
    font-size: .7rem;
    border: none;
}

.app-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

#scene-input-container {
    display: flex;
    width: 50vw;
    height: 25vh;
    margin: auto;
    margin-top: 5vh;
    background-color: rgb(35, 99, 141);
    border-radius: 5px;
}

#choose-character {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

#character-select {
    margin: 10px 0;
    width: 125px;
}

#scene-output {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    height: 30vh;
    margin: auto;
    margin-top: 5vh;
    background-color: rgb(211, 111, 214);
    border-radius: 5px;
}

#scene-text {
    border-radius: 5px;
}

#scene-output {
    display: flex;
    justify-content: center;
    align-items: center;
}

#character-output {
    width: 45vw;
    height: 25vh;
    background-color: white;
    border-radius: 5px;
}